{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $use_cursor := promptBoolOnce . "use_cursor" "Do you use Cursor? (true/false)" -}}
{{- $recipient := promptStringOnce . "recipient" "GPG recipient" -}}

encryption = "gpg"
[gpg]
    recipient = {{ $recipient | quote }}

[data]
    email = {{ $email | quote }}
    use_cursor = {{ $use_cursor }}

[edit]
    args = ["-r", "--wait"]
    command = "{{ if $use_cursor }}cursor{{ else }}code{{ end }}"
