{
  "editor.fontSize": 12,
  "editor.fontFamily": "FiraCode-Retina",
  "editor.fontLigatures": true,
  "editor.fontWeight": "450",
  "workbench.editor.showIcons": true,
  "editor.semanticHighlighting.enabled": true,
  "terminal.integrated.minimumContrastRatio": 1,
  "window.titleBarStyle": "custom",
  "[json]": {
    "editor.quickSuggestions": {
      "strings": true
    },
    "editor.suggest.insertMode": "replace",
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "terminal.integrated.fontFamily": "FiraCode-Retina",
  "notebook.cellToolbarLocation": {
    "default": "right",
    "jupyter-notebook": "left"
  },
  "files.eol": "\n",
  "files.exclude": {
    "**/__pycache__": true,
    "**/.mypy_cache": true,
    "**/.ruff_cache": true
  },
  "workbench.colorTheme": "Catppuccin Latte",
  "workbench.preferredDarkColorTheme": "Catppuccin Mocha",
  "workbench.preferredLightColorTheme": "Catppuccin Latte",
  "catppuccin.accentColor": "mauve",
  "python.languageServer": "Pylance",
  "diffEditor.codeLens": true,
  "editor.minimap.autohide": "mouseover",
  "workbench.fontAliasing": "auto",
  "workbench.list.smoothScrolling": true,
  "editor.smoothScrolling": true,
  "jupyter.themeMatplotlibPlots": true,
  "notebook.output.textLineLimit": 500,
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "editor.unicodeHighlight.ambiguousCharacters": false,
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "editor.minimap.enabled": false,
  "git.autofetch": true,
  "git.confirmSync": false,
  "editor.largeFileOptimizations": true,
  "workbench.iconTheme": "catppuccin-mocha",
  "git.ignoreRebaseWarning": true,
  "python.analysis.completeFunctionParens": true,
  "python.analysis.autoImportCompletions": true,
  "python.analysis.inlayHints.functionReturnTypes": true,
  "python.analysis.inlayHints.variableTypes": true,
  "git.openRepositoryInParentFolders": "never",
  "editor.inlineSuggest.enabled": true,
  "errorLens.enabled": true,
  "rust-analyzer.semanticHighlighting.operator.specialization.enable": true,
  "editor.formatOnPaste": true,
  "cSpell.userWords": ["Abhi", "Agarwal", "aagarwal"],
  "window.systemColorTheme": "auto",
  "window.autoDetectColorScheme": true,
  "diffEditor.ignoreTrimWhitespace": false,
  "ruff.nativeServer": true,
  "telemetry.telemetryLevel": "crash",
  "rust-analyzer.check.command": "clippy",
  "rust-analyzer.cargo.buildScripts.enable": true,
  "files.readonlyInclude": {
    "**/.cargo/registry/src/**/*.rs": true,
    "**/lib/rustlib/src/rust/library/**/*.rs": true,
    "**/.venv/**/*": true
  },
  "errorLens.enabledDiagnosticLevels": ["error", "warning"],
  "git.alwaysSignOff": true,
  "git.enableSmartCommit": true,
  "explorer.confirmDragAndDrop": false,
  "editor.tabSize": 4,
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "betterGitLineBlame.showStatusBarItem": false,
  "github.copilot.enable": {
    "quarto": false,
    "*": false,
    "plaintext": false,
    "markdown": false,
    "scminput": false,
    "astro": true,
    "typescript": false
  },
  "remote.SSH.connectTimeout": 30,
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[astro]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "chat.agent.enabled": true,
  "remote.SSH.useLocalServer": false,
  "remote.SSH.remotePlatform": {
    "media-server.marmoset-chameleon.ts.net": "linux",
    "login-ice.pace.gatech.edu": "linux"
  },
  "C_Cpp.intelliSenseEngine": "disabled",
}